/* define style rules for app-component */
/* Styles for making footer stay at bottem even if there are no contents */
.Contents{
    width:100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

 /* The flex grow set to 1 makes the component to fill up the available space */
.newsContent{
    display: flex;
    flex-grow: 1;
    margin: auto;
    align-items: center;
}

app-header, app-dashboard, app-login, app-footer{
    flex-shrink: 0;
}
