/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
 body {
  margin: 0;
  background: gainsboro;
   /* display: flex;
   flex-direction: column; */
 }
app-root{
  display:flex;
  flex-direction: column;
  height:100vh;
}
