/* .news-reader-card-container{
    display:flex;
    width : 80%;
    border: 1px solid gray;
    box-shadow: 5px 5px gray;
    border-radius: 20px;
    align-items: center;
}


.news-reader-card-container:hover{
    transform: translateY(-8px);
    box-shadow: 0px 4px 10px cadetblue;
  
}
.news-image img{
    width:250px;
}

.news-content{
    padding:15px;
    height:100%;
    margin:10px;
    overflow-y: auto;
    text-align: justify;
}

.news-description{
    padding-top:10px;
}

.news-url{
    margin-top:20px;
    margin-bottom: 0;
} */
mat-card{
    background: whitesmoke;
}

mat-card-title{
    font-size: x-large !important;
}

img{
    padding: 2px;
    height: auto;
    width: 100%;
    border: 2px solid gainsboro;
}

/* For avoiding stretching out of images in large screens */
@media only screen and (min-width: 991px){
    img{
        max-width: 45vw;
        max-height: 50vh;;
    }
}

.author{
    font-weight: normal !important;
}

.description{
    font-weight: lighter;
}

.description::first-letter{
    font-size: x-large;
    font-weight: 400;
}

.read-later{
    background: #f47541;
}

.read-later:hover{
    background: #cc3d05;
    color:whitesmoke;
}

.source{
    font-size: smaller;
}